.board-content {
	// height: 75vh;
	// overflow-y: hidden;

	.card-column {
		margin-right: 20px;
		width: 360px;
		// height: 75vh;
		// overflow-y: scroll;
	}

	.card-ghost {
		transition: transform 0.18s ease;
		transform: rotateZ(5deg);
		font-weight: bold;
	}

	.card-ghost-drop {
		transition: transform 0.18s ease-in-out;
		transform: rotateZ(0deg);
		font-weight: bold;
	}

	.drop-preview {
		background-color: rgba(150, 150, 200, 0.1);
		border: 1px dashed #abc;
		margin: 5px;
		min-width: 360px;
	}

	.columns-drop-preview {
		background-color: rgba(150, 150, 200, 0.1);
		border: 1px dashed #abc;
		margin: 5px 45px 5px 5px;
		min-width: 360px;
	}

	.add-column-input {
		background-color: #fff;
		width: 100%;
		border: 1px solid rgb(225, 221, 221);
		height: 58.5px;
		font-size: 16px;
		margin-bottom: 5px;
		outline: none;
	}

	.add-column-input:focus {
		outline: none;
		box-shadow: none;
	}

	.add-column-button {
		border-radius: 2px;
		padding: 8px 12px;
	}

	.add-column-icon {
		margin-left: 10px;
	}

	.add-card-input {
		min-height: 75px;
	}

	.column-dropdown-actions {
		button.dropdown-btn {
			border-radius: 2px;
			padding-left: 12px;
			padding-right: 12px;
			background-color: transparent;
			border: none;
			color: #212529;
			font-size: 20px;
			&:focus, &:active {
				outline: none;
				box-shadow: none;
			}
			&:after {
				content: '...';
				border: none;
			}
			&:hover {
				background-color: darken($color: #eee, $amount: 10);
				border-color: darken($color: #eee, $amount: 10);
			}
		}
		.dropdown-menu {
			padding: 0;
			min-width: 200px;
			border-radius: 2px;
			transform: translate(0, 48px) !important;
			left: 55px !important;
			top: -48px !important;
			a.dropdown-item {
				padding: 1rem;
				font-size: 14px;
				border-radius: 2px;
				&:not(:last-child) {
					border-bottom: 1px solid darken($color: #eee, $amount: 10);
				}
				&:hover{
					background-color: darken($color: #eee, $amount: 10);
					color: inherit;
				}
			}
		}
	}
}

.modal {
	.content-modal {
		font-size: 16px;
		text-align: center;
	}
	
	.header-modal {
		font-size: 18px;
		text-align: center;
		width: 100%;
	}
}

.content-aditable {
	background-color: inherit;
	width: 100%;
	border: 0;
	font-size: 16px;
	font-weight: 700;
	// cursor: pointer;
	outline: none;
	padding: 8px;
	border-radius: 5px;
	color: #212529;
	box-shadow: none;
	&:focus {
		outline: none;
		box-shadow: none;
		// border: 1px solid rgb(225, 221, 221);
	}
}

.card-title {
	width: 80%;
}

.content-aditable-card {
	background-color: inherit;
	width: 100%;
	border: 0;
	font-size: 16px;
	font-weight: 700;
	cursor: default;
	outline: none;
	padding: 8px;
	border-radius: 5px;
	color: #212529;
	box-shadow: none;
	resize: none;
	&:focus {
		outline: none;
		box-shadow: none;
		// min-height: 100px;
		resize: none;
		// border: 1px solid rgb(225, 221, 221);
	}
}

.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
	display: block !important;
	overflow: initial !important;
}